// .content{
//     padding-left:25px;
// }



.body-header{
    margin-top:15px;
    margin-left:15px;
    margin-bottom:15px;
}

.heading1{
    //border-right: 1px solid #c5c5c5;
    margin-left:15px;
    padding-right: 10px;
    font-size: 23px;
    font-weight: 600;
    color: #777;
}
.material-icons{
    height:24px ;
    width:24px ;
    font-size:24px;
    color: #777;
}
.home{
    
    padding-left:25px;
    padding-right: 5px;
    font-size: 12px;
    font-weight: 300;
    color: rgb(27, 24, 24);
}
// .arrow{
//     margin-top:5px;
// }
.dashboard{
    //margin-left:20px;
    font-size: 12px;
    font-weight: 300;
    color: #777;
}
.cards{
    
    margin-left:15px;
    margin-bottom:15px;
}
.card-list{
    
    margin-left:15px;
    margin-bottom:15px;
}
.card-body{
    text-align: center;
    
}
.card-size{
    height:160px;
    width:275px;
    border-radius: 15px;
}
#barChart{
    display: block;
    margin: auto !important;

    height: 50px !important;
    width:50px !important;
}
#pieChart{
    display: block;
    margin: auto !important;

    height: 50px !important;
    width:75px !important;
}
#lineChart{
    display: block;
    margin: auto !important;

    height: 50px !important;
    width:75px !important;
}
#lineChart1{
    display: block;
    margin: auto !important;

    height: 50px !important;
    width:75px !important;
}
// .radarChart{
//     display: block;
//     margin: auto !important;

//     height: 50px !important;
//     width:75px !important;
// }

.report-size{
    height:350px;
    width:578px;
    border-radius: 15px;
}
.card-report{
    margin-left:30px;
    margin-bottom:15px;
}

.title{
    width:100%;
    max-width: 90%;
}
.client-size{
    height:530px;
    width:775px;
    border-radius: 15px;
}
.card1{
    padding-bottom: 20px;
}
.card-table{
    margin-top:5px;
    margin-left:45px;
    margin-bottom:15px;
}
.table-responsive{
    display: block;
    width: 100%;
    overflow-x: auto;
}
.bg-light{
    background-color: #f3f5f6;
}
.table thead th {
    border-top: 0;
    border-bottom-width: 1px;
    font-weight: 600;
    color: #223C61;
    vertical-align: bottom;
    border-bottom: 2px solid #d5dcec;
}
.table th{
    vertical-align: middle;
    font-size: 0.8rem;
    line-height: 1;
    padding: 23px 30px;
}
.rounded-circle {
    border-radius: 50% ;
}
.badge-success{
    border: 1px solid #4CCEAC;
    color: #fff;
}
.first-icon{
    margin-left:10px;
}

.client-size1{
    height:500px;
    width:395px;
    border-radius: 15px;
}
span.badge {
    min-width: auto;
  
    font-size: 13px;
}
span.badge {
    
    padding: 0 6px;
    
    text-align: center;
  
    line-height: 22px;
    height: 22px;
    
}
.badge{
    border: 1px solid;
    font-weight: 400;
}
.btn{
    border:none transparent;
    outline: none;
}

.social-card{
    margin-top:5px;
    margin-left:30px;
    margin-bottom:15px;
}
.social-size{
    height:250px;
    width:378px;
    border-radius: 15px;
    
}
.twitter{
    width: 100%;
   text-align:center;
}
::ng-deep .card-body{
    padding: 0.5rem;
}
::ng-deep .mat-card{
    padding: 14px !important;
}
::ng-deep .mat-card-title{
    margin-bottom: 0px !important;
}