@import '../../../scss/mixins.scss';



.content{
    padding-left:25px;
    padding-top: 15px;
}



.body-header{
    margin-top:15px;
    margin-left:15px;
    margin-bottom:15px;
}

.heading1{
    //border-right: 1px solid #c5c5c5;
    margin-left:15px;
    padding-right: 10px;
    font-size: 23px;
    font-weight: 600;
    color: #777;
}
.material-icons{
    height:24px ;
    width:24px ;
    font-size:24px;
    color: #777;
}
.home{
    
    padding-left:25px;
    padding-right: 5px;
    font-size: 12px;
    font-weight: 300;
    //color: rgb(27, 24, 24);
    color: #353c48 !important;
}
// .arrow{
//     margin-top:5px;
// }
.dashboard{
    //margin-left:20px;
    font-size: 12px;
    font-weight: 300;
    color: #777;
}
.cards{
    
    margin-left:15px;
    margin-bottom:15px;
}
.card-list{
    
    margin-left:15px;
    margin-bottom:15px;
}
.card-body{
    text-align: center;
    
}
.card-size{
    height:160px;
    width:275px;
    border-radius: 15px;
}
.title{
    font-size:18px;
}
.value{
    font-weight: bold;
}
#barChart{
    @include graph;
    
}
#pieChart{

    @include graph;
    
}
#lineChart{
    @include graph;
    
}
#lineChart1{
    @include graph;
   
}


.report-size{
    height:350px;
    width:578px;
    border-radius: 15px;
}
.card-report{
    margin-left:30px;
    margin-bottom:15px;
}

.title{
    width:100%;
    max-width: 90%;
}
.client-size{
    //height:530px;
    width:775px;
    border-radius: 15px;
}
.card1{
    padding-bottom: 20px;
}
.card-table{
    margin-top:5px;
    margin-left:45px;
    margin-bottom:15px;
}
.table-responsive{
    display: block;
    width: 100%;
    overflow-x: auto;
}
.bg-light{
    background-color: #f3f5f6;
}
.table thead th {
    border-top: 0;
    border-bottom-width: 1px;
    font-weight: 600;
    color: #223C61;
    vertical-align: bottom;
    border-bottom: 2px solid #d5dcec;
}
.table th{
    vertical-align: middle;
    font-size: 0.8rem;
    line-height: 1;
    padding: 23px 30px;
}
.rounded-circle {
    border-radius: 50% ;
}
.badge-success{
    border: 1px solid #4CCEAC;
    color: #fff;
}
.first-icon{
    margin-left:10px;
}

.client-size1{
    height:500px;
    width:395px;
    border-radius: 15px;
}
span.badge {
    min-width: auto;
  
    font-size: 13px;
}
span.badge {
    
    padding: 0 6px;
    
    text-align: center;
  
    line-height: 22px;
    height: 22px;
    
}
.badge{
    border: 1px solid;
    font-weight: 400;
}
.btn{
    border:none transparent;
    outline: none;
}

.social-card{
    margin-top:5px;
    margin-left:30px;
    margin-bottom:15px;
}
.social-size{
    height:250px;
    width:378px;
    border-radius: 15px;
    
}
.twitter{
    width: 100%;
   text-align:center;
}
.custom-size{
    //height:250px;
    width:378px;
    border-radius: 15px;
}
.custom-size2{
    width:780px;
    border-radius: 15px;
}
.customer-review{
    margin-top:5px;
    margin-left:30px;
    margin-bottom:15px;
}
.row2, .row1{
    margin-bottom:10px;
}
.custom-image{
    padding-left: 20px;
    padding-top: 18px;
}
.custom-ratings{
    margin-top:25px;
}
.float-right{
    //text-align: right;
    position:relative;
    //left:495px;
    color: #919aa3 !important; //used for text muted
    margin-bottom:10px; 
}
// .m-r-10{
//     margin-right:10px;
// }
// .text-muted{
//     color: #919aa3 !important;
//     margin-bottom:10px; 
// }
.custom-stars{
    padding:15px;
}
.view-review{
    width: 100%;
   text-align:center;
}
.score{
    font-size:24px;
    color:#f5d742;
    width: 100%;
    text-align:center;
    padding-top: 25px;
    padding-bottom: 25px;
    font-weight: 500;
}
.progres-bar{
    margin-top:10px;
    margin-bottom: 10px;
    //background-color: linear-gradient(45deg,#9ce89d,#cdfa7e) !important;
    background-image: linear-gradient(45deg,#9ce89d, #cdfa7e);
}
.per-btn{
    border:none transparent;
    outline: none;
    border-radius: 10px;
    color:#edf1f5;
    background-color: #428df5;
    font-weight: 100;
    font-size:14px;
}
// .progres-bar1{
//     background: linear-gradient(45deg,#9ce89d,#cdfa7e) !important;
// }
::ng-deep .card-body{
    padding: 0.5rem;
}
::ng-deep .mat-card{
    padding: 14px !important;
}
::ng-deep .mat-card-title{
    margin-bottom: 0px !important;
}
.progres-bar1{
    ::ng-deep .mat-progress-bar-fill::after {
        //background-color: green;
        background: linear-gradient(40deg,#9ce89d,#cdfa7e) !important;
    }
    
    ::ng-deep .mat-progress-bar-buffer {
        //background: #E4E8EB;
       
        background-color: #d2d6d3;

    }
}
.progres-bar2{
    ::ng-deep .mat-progress-bar-fill::after {
        //background-color: green;
        background: linear-gradient(40deg,#759bff,#843cf6) !important;
    }
    
    ::ng-deep .mat-progress-bar-buffer {
        //background: #E4E8EB;
       
        background-color: #d2d6d3;

    }
}
.progres-bar3{
    ::ng-deep .mat-progress-bar-fill::after {
        //background-color: green;
        background: linear-gradient(40deg,#ffc480,#ff763b) !important;
    }
    
    ::ng-deep .mat-progress-bar-buffer {
        //background: #E4E8EB;
       
        background-color: #d2d6d3;

    }
}
.progres-bar4{
    ::ng-deep .mat-progress-bar-fill::after {
        //background-color: green;
        background: linear-gradient(40deg,#72c2ff,#86f0ff) !important;
    }
    
    ::ng-deep .mat-progress-bar-buffer {
        //background: #E4E8EB;
       
        background-color: #d2d6d3;

    }
}
.progres-bar3{
    ::ng-deep .mat-progress-bar-fill::after {
        //background-color: green;
        background: linear-gradient(40deg, #ffc480,#ff763b ) !important;
    }
   
    ::ng-deep .mat-progress-bar-buffer {
        //background: #E4E8EB;
       
        background-color: #d2d6d3;

    }
}
    
.progres-bar5{
    ::ng-deep .mat-progress-bar-fill::after {
        //background-color: green;
        background: linear-gradient(40deg,#fc5286,#fbaaa2 ) !important;
    }
   
    ::ng-deep .mat-progress-bar-buffer {
        //background: #E4E8EB;
       
        background-color: #d2d6d3;

    }
}
// /deep/ .mat-progress-bar-fill::after {
//     background-color: green;
// }

// /deep/ .mat-progress-bar-buffer {
//     background: #E4E8EB;
// }