<div class="tool-bar" fxFlex=100>
  <div class="toolbar-body" [ngClass]="scrollEvent ? 'toolbar-container':'toolbar-container1'">
    
    
    <!-- ************************second toolbar for animation purpose**********************************...! -->
    <mat-toolbar class="toolbar-container1" >
        <div class="toolbar-contents" fxLayout="row"  fxFlex=100>
            <div class="menu-btn" fxFlex=80  fxLayoutAlign="start center">
                <button  mat-icon-button>
                    <mat-icon mat-icon-button  class="mat-icon1" >menu</mat-icon>
                </button>
            </div>
            <div class="other-btn" fxFlex=20 fxLayoutGap="40px">
              <div fxFlex=5  > 
                  <button type="button" mat-icon-button (click)="openFullscreen()" >
                      <mat-icon mat-icon-button class="mat-icon1">crop_free</mat-icon>
                  </button>
              </div>
              <div fxFlex=5  >
                  <button class="notification" mat-icon-button [matMenuTriggerFor]="mainlist">
                      
                      <mat-icon   mat-icon-button class="mat-icon1" >notifications_none
                          <span class="label-count"></span>
                      </mat-icon>
                    </button>
                    <div class="dropdown">     
                    
                        <mat-menu  #mainlist="matMenu">
                                <button  mat-menu-item >Delete Note</button>
                                <button mat-menu-item >Add Label</button>
                                <button  mat-menu-item >DeleteNoteForever</button>
                                <button  mat-menu-item >restore</button>
                        </mat-menu>
               
             
            
          </div>
              </div>
              
              
              <div fxFlex=5 >
                  <img mat-card-avatar class="img-sm rounded-circle" src="../../../assets/images/client7.jpg">
              </div>
              <div fxFlex=5>
                  <button  mat-icon-button >
                      <mat-icon mat-icon-button class="mat-icon1">settings</mat-icon>
                  </button>
              </div>
            </div>
            
            
      </div>
      </mat-toolbar>

  </div>
  
</div>
