<div class="tool-bar" fxFlex=100>
  <div class="toolbar-body">
    <mat-toolbar class="toolbar-container">
      <div class="toolbar-contents" fxLayout="row"  fxFlex=100>
          <div class="btn" fxFlex=80  fxLayoutAlign="start center">
              <button  mat-icon-button>
                  <mat-icon mat-icon-button  style="color:white">menu</mat-icon>
              </button>
          </div>
          <div fxFlex=5 fxLayoutAlign="end center" >
              <button  mat-icon-button >
                  <mat-icon mat-icon-button  style="color:white">crop_free</mat-icon>
              </button>
          </div>
          <div fxFlex=4 fxLayoutAlign="start center">
              <button  mat-icon-button >
                  <mat-icon mat-icon-button  style="color:white">notifications_none</mat-icon>
              </button>
          </div>

          <div fxFlex=5 fxLayoutAlign="start center">
              <img mat-card-avatar class="img-sm rounded-circle" src="../../../assets/images/client1.jpg">
          </div>
          <div>
              <button  mat-icon-button fxFlex=3 fxLayoutAlign="start center" >
                  <mat-icon mat-icon-button  style="color:white">settings</mat-icon>
              </button>
          </div>
          
    </div>
    </mat-toolbar>
  </div>
  
</div>