<div class="tool-bar" fxFlex=100>
  <div class="toolbar-body">
    <mat-toolbar class="toolbar-container">
      <div class="toolbar-contents" fxLayout="row"  fxFlex=100>
          <div class="menu-btn" fxFlex=80  fxLayoutAlign="start center">
              <button  mat-icon-button>
                  <mat-icon mat-icon-button  class="mat-icon" >menu</mat-icon>
              </button>
          </div>
          <div class="other-btn" fxFlex=20 fxLayoutGap="30px">
            <div fxFlex=5  > 
                <button  mat-icon-button >
                    <mat-icon mat-icon-button class="mat-icon"  >crop_free</mat-icon>
                </button>
            </div>
            <div fxFlex=5 >
                <button  mat-icon-button >
                    <mat-icon mat-icon-button class="mat-icon" >notifications_none</mat-icon>
                </button>
            </div>
  
            <div fxFlex=5 >
                <img mat-card-avatar class="img-sm rounded-circle" src="../../../assets/images/client1.jpg">
            </div>
            <div fxFlex=5>
                <button  mat-icon-button >
                    <mat-icon mat-icon-button class="mat-icon">settings</mat-icon>
                </button>
            </div>
          </div>
          
          
    </div>
    </mat-toolbar>
  </div>
  
</div>